body {
  background-color: blueviolet;
}

.animal-card {
  background-color: white;
  height: 440px; 
  margin: 20px 0;
  text-align: center;
}

img {
  height: auto;
  width: 100%;
  margin-bottom: 1em;
}